@import '~font-awesome/css/font-awesome.min.css';

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  background: #222;
  padding: 15px 15px;
  overflow: auto;
  display: flex;
  flex: 1;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {   
  list-style-type: none;
  flex: 8;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 1rem;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 1.3rem;
  /* margin-left: 1rem; */
  flex: 1;
  justify-centent: center;
  align-items: center;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.cartButton {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary { /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
  list-style-type: none;
}
.submenu-active .submenu {
 display: block;
 list-style-type: none;
}
.has-submenu i {
  font-size: 12px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
  list-style-type: none;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
      justify-content: flex-end;
      padding-right: 20px;
  }
  .logo {
      flex: 1;
  }
  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      flex: 1;
      text-align: right;
      order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
  }
  .button a {
      background: #0080ff;
      border: 1px royalblue solid;
  }
  .button.secondary {
      border: 0;
  }
  .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;  
  }
  .button a:hover {
      text-decoration: none;
  }
  .button:not(.secondary) a:hover {
      background: royalblue;
      border-color: darkblue;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
      align-items: center;
      flex-wrap: nowrap;
      background: none;
      overflow: visible;
      /* height: 200px; */
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
      position: relative;
      display: block; 
      width: auto;
  }
  .button {
      order: 2;
  }
  .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
      list-style-type: none;
      /* margin-top: 0.5rem; */
      position: fixed;
      z-index:100;
  }
  .toggle {
      display: none;
  }
  .submenu-active {
      border-radius: 0;
  }
}











/* .navigation {

    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    padding: 0.5rem 0.8rem;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }
  
  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  
  .navigation-menu {
    margin-left: auto;
    margin-right: auto;
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
  }
  
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    border: 1px solid red;
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  .hamburger:hover {
    background-color: #2642af;
  } */

  
  
  /* @media screen and (max-width: 550px) {
    .hamburger {
      display: block;
    }
  
    .navigation-menu ul {
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      height: calc(100vh-100px);
      background-color: white;
      border-top: 1px solid black;
      display: none;
      z-index: 999999;
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 1.5rem 0;
    }
  
    .navigation-menu li:hover {
      background-color: #eee;
    }
  
    .navigation-menu.expanded ul {
      display: block;
    }
  }
   */

  /* DESTOP DROPDOWN */
  /* @media screen and (min-width: 551px) {

    nav {
      font-family: monospace;
      align-self: center;
    }
    
    ul {
      background: white; 
      list-style: none;
      margin: 0;
      padding-left: 0;
      align-self: center;
    }
    
    li {
      color: #616161;
      background: white; 
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
      transition-duration: 0.5s;
      font-weight: bold;
    }
      
    li a {
      color: #616161;
    }
    
    li:hover,
    li:focus-within {
      background: white;
      cursor: pointer;
    }
    
    li:focus-within a {
      outline: none;
    }
    
    ul li ul {
      background: white; 
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 0.5rem;
      left: 0;
      display: none;
    }
    
    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
      z-index: 999;
      box-shadow: 0 5px 15px 2px #00000025;
    }
    
    ul li ul li {
      clear: both;
      width: 100%;
    }
  }    */